
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bulma/bulma.sass";

/*
body {
  font-size:calc(12px + 1.5vw);
}
*/

a:hover{
  text-decoration: none;
}
.navbar-default {
  background-color: $brand_link;
  border-color: #d3e0e9;
}
.nav {
  background-color: transparent;
  color:white;
}

.navbar-default .navbar-nav > li > a {
  color:white;
}


.footer {
  background: $brand_link;
}

.navbar {
  margin-bottom: 0px;
  border:0px;
}

.aside_left{
  background-color: $brand_link;
  min-height: 100vh;
  height:100%
}

.post {
  padding: 1rem;
}


a.likeing {
  background: none;
  border: none;
  color: $text-color;
}

a.red {
  background: none;
  border: none;
  color: $red;
}
